---
layout: archive
title: "Media"
permalink: /media/
author_profile: true
---

{% assign total_media = site.media | size %}

<p>
I have appeared in media {{ total_media }} times.
{% assign cats = site.media | map: "category" | uniq %}
{% for cat in cats %}
  {% assign count = site.media | where: "category", cat | size %}
  {% if forloop.first %} Of these, {% else %}, {% endif %}
  {{ count }} in {{ cat }}
{% endfor %}. I am very happy to contribute again. Just get in touch if you need me :) 
</p>

{% if site.media_category %}
  {% for category in site.media_category %}

    {% assign posts_in_category = site.media | where: "category", category[0] %}
    {% if posts_in_category.size > 0 %}

      {% assign title_shown = false %}
      <details>
        <summary>{{ category[1].title }}</summary>

        {% for post in site.media reversed %}
          {% if post.category != category[0] %}
            {% continue %}
          {% endif %}

          {% unless title_shown %}
            <hr />
            {% assign title_shown = true %}
          {% endunless %}

          {% include archive-single-media.html %}
        {% endfor %}
      </details>

    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.media reversed %}
    {% include archive-single-media.html %}
  {% endfor %}
{% endif %}
