---
layout: archive
title: "Media appearances"
permalink: /media/
author_profile: true
---

{% if site.media_category %}
  {% for category in site.media_category %}
    {% assign title_shown = false %}
    <details>
      <summary>{{ category[1].title }}</summary>
      {% for post in site.media reversed %}
        {% if post.category != category[0] %}
          {% continue %}
        {% endif %}
        {% unless title_shown %}
          <hr />
          {% assign title_shown = true %}
        {% endunless %}
        {% include archive-single-media.html %}
      {% endfor %}
    </details>
  {% endfor %}
{% else %}
  {% for post in site.media reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}