---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% assign total_pubs = site.publications | size %}

<p>I have published {{ total_pubs }} papers.</p>

<ul>
{% assign cats = site.publications | map: "category" | uniq %}
{% for cat in cats %}
  {% assign count = site.publications | where: "category", cat | size %}
  <li>{{ count }} in {{ cat | default: "Uncategorized" }}</li>
{% endfor %}
</ul>

{% if site.author.googlescholar %}
  <div class="wordwrap">If you prefer, you can find my articles (with some statistics) on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign posts_in_category = site.publications | where: "category", category[0] %}
    {% if posts_in_category.size > 0 %}
      <details>
        <summary>{{ category[1].title }}</summary>
        {% assign title_shown = false %}
        {% for post in posts_in_category reversed %}
          {% unless title_shown %}
            <hr />
            {% assign title_shown = true %}
          {% endunless %}
          {% include archive-single.html %}
        {% endfor %}
      </details>
    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



