---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<p>
  In addition to my academic work, I run a small company that offers services to those that need my skillset. 
  I take on jobs big and small, and rates depend on what you need, what you offer, and the time I have. 
  Please reach out if you need something, and I am sure we can find a solution.
</p>

{% if site.services_category %}
  {% for category in site.services_category %}

    {% assign posts_in_category = site.services | where: "category", category[0] %}
    {% if posts_in_category.size > 0 %}

      {% assign title_shown = false %}
      <details>
        <summary>{{ category[1].title }}</summary>

        {% for post in site.services reversed %}
          {% if post.category != category[0] %}
            {% continue %}
          {% endif %}

          {% unless title_shown %}
            <hr />
            {% assign title_shown = true %}
          {% endunless %}

          {% include archive-single-services.html %}
        {% endfor %}
      </details>

    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.services reversed %}
    {% include archive-single-services.html %}
  {% endfor %}
{% endif %}
