---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<p>
  In addition to my academic work, I run a small company that offers services to those that need my skillset. 
  I take on jobs big and small, and rates depend on what you need, what you offer, and the time I have. 
  Please reach out if you need something, and I am sure we can find a solution.
</p>

{% include base_path %}

{% for post in site.services %}
  <details class="service-item">
    <summary>
      <h2>{{ post.title }}</h2>   
      <p><i>{{ post.tagline }}</i></p>   
    </summary>
    <div class="service-content">
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}

      {% if post.includes %}
        <ul>
          {% for item in post.includes %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <p>Best suited for {{ post.audience }}</p>

      <p>
        <a class="btn-contact" href="mailto:bjorneju@gmail.com?subject={{ post.title | url_encode }}">
          Contact me
        </a>
      </p>
    </div>
  </details>
{% endfor %}
