{% include base_path %}

<div class="archive__item">
    <h2>
      {{ post.title }}
    </h2>

    <!-- Project metadata: started year, leader, collaborators, role -->
    <p>
      {% if post.status == "potential" %}
        Planned for the future
      {% else %}
        Started in {{ post.date | date: "%Y" }}
      {% endif %}
      {% if post.leader %}, lead by {{ post.leader }}{% endif %}
      {% if post.collaborators %}, in collaboration with {{ post.collaborators }}{% endif %}
    </p>

    <!-- Project excerpt -->
    {% if post.excerpt == "TBD" %}
      <p> Excerpt to come </p>
    {% elsif post.excerpt %}
      <p>{{ post.excerpt | markdownify }}</p>
    {% endif %}

    <!-- Project content / more details -->
    {% if post.content %}
      <details>
        <summary>Summary</summary>
        <p>
          {{ post.content | markdownify }}
        </p>
      </details>
    {% endif %}

    <a href="{{ post.external_url }}" target="_blank" rel="noopener">Click here for further details</a>
</div>