{% include base_path %}

<div class="archive__item">
    <!-- 1) Title -->
    <h2>
      {{ post.title }}
    </h2>

    <!-- 2) Date as subheading -->
    {% if post.date %}
      <p><i>
        {{ post.date | date: "%B %Y" }}
      </i></p>
    {% endif %}

    <!-- 3) Excerpt -->
    {% if post.excerpt %}
      <p>
        {{ post.excerpt | markdownify }}
      </p>
    {% endif %}

    <!-- 4) Access link -->
    {% if post.videourl %}
      <p>
        <a href="{{ post.videourl }}" target="_blank" rel="noopener">
          Access here!
        </a>
      </p>
    {% endif %}

  </article>
</div>
