{% include base_path %}

<div class="archive__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </h3>

    {% if post.venue or post.date %}
      <p class="page__meta">
        {% if post.venue %}<i>{{ post.venue }}</i>{% endif %}
        {% if post.date %} · {{ post.date | date: "%Y" }}{% endif %}
      </p>
    {% endif %}

    {% if post.excerpt %}
      <p>{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.materials %}
      <p>
        {% for item in post.materials %}
          <a href="{{ item.url }}">{{ item.label }}</a>{% unless forloop.last %} · {% endunless %}
        {% endfor %}
      </p>
    {% endif %}

  </article>
</div>