{% include base_path %}

<div class="archive__item">
    <h2>
      {{ post.title }}
    </h2>

    {% if post.venue or post.date %}
      <p><i>
        {% if post.venue %}{{ post.venue }}{% endif %}
        {% if post.date %} · {{ post.date | date: "%Y" }}{% endif %}
      </i></p>
    {% endif %}

    {% if post.excerpt %}
      <p>{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.materials %}
      <p>
        {% for item in post.materials %}
          <a href="{{ item.url }}">{{ item.label }}</a>{% unless forloop.last %} · {% endunless %}
        {% endfor %}
      </p>
    {% endif %}

</div>